html, body{
    margin: 0;
    padding: 0;
}

#map{
    display: inline-block;
    height: 80vh;
    width: 75%;
    background-color: rgb(255, 250, 250);
    
}

#feature_infos {
    width:23%;
    height: 35%;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 75px;
    right:5px;
    padding:5px;
    border:1px solid grey;
    display:none;
}


#info{
    display: inline-block;
    font-weight:bold;
}

#pre{
    right:10px;
    float: right; 
    width:25%;
    display: inline-block;
    text-align: center;
} 

h2{
    padding-bottom: 80px;
    text-align: center;
}



footer{
    background-color: rgb(255, 255, 255);
    text-align: center;
}