html, body{
    margin: 0;
    padding: 0;
}

#map{
    height: 80vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

footer{
    height: 20vh;
    background-color: rgb(255, 255, 255);
    text-align: center;
}