html, body{
    margin: 0;
    padding: 0;
}

#map{
    display: inline-block;
    height: 80vh;
    width: 75%;
    background-color: rgb(255, 250, 250);
    
}

#info{
    display: inline-block;
    height: 80vh;
    width: 25%;
    border:1px solid grey;
    background-color: rgb(255, 255, 255);
    position: fixed;
    
}

h2{
    text-align: center;
    padding-top: 80px;
}



footer{
    background-color: rgb(255, 255, 255);
    text-align: center;
}